:root {
    --yellow: #12171E ;
    --dark-blue: #03264C;
    --light-blue: #f8f8f8;
    --gray: #010201;
    --light-gray: #282a2e;
    --green: #010201;
    --text-font-family: 'Source Sans Pro', sans-serif;
    --title-font-family: 'Noto Sans KR', sans-serif;
    --link-font-family: 'Inconsolata', monospace;
  }
.Principal {
    padding-top: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Cards-Column{
    margin-top: 10px;
    overflow-y: scroll;
    height: 690px;
    text-align: -webkit-center;
    
}
.Cards-Sign{
    margin-top: 10px;
    overflow-y: scroll;
    height: 690px;
    text-align: -webkit-center;
}
.Sign-Container{
    margin-top: 250px;
    background-color: #1f1f1f;
    width: 500px;
    padding: 10px;
    opacity: 95%;
    box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
.Cards-Row{
    margin-top: 10px;
    overflow-y: scroll;
    height: 690px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
::-webkit-scrollbar {
    display: none;
}
.No-Result{color: #519BFF;}
.fa-ban{
    color: #519BFF;
    font-size: 45px;
}
.fa-cloud-download-alt{
    color: #519BFF;
    font-size: 45px;
}
.Loading{
    color: #519BFF;
}
