:root {
    --yellow: #12171E ;
    --dark-blue: #03264C;
    --light-blue: #f8f8f8;
    --gray: #010201;
    --light-gray: #282a2e;
    --green: #010201;
    --text-font-family: 'Source Sans Pro', sans-serif;
    --title-font-family: 'Noto Sans KR', sans-serif;
    --link-font-family: 'Inconsolata', monospace;
  }
.Principal {
    padding-top: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Cards-Column{
    margin-top: 10px;
    overflow-y: scroll;
    height: 693px;
    text-align: -webkit-center;
    font-family: 'Rokkitt', serif;
    
}
.Cards-Sign{
    margin-top: 10px;
    overflow-y: scroll;
    height: 693px;
    text-align: -webkit-center;
}
.Sign-Container{
    margin-top: 250px;
    background-color: #1f1f1f;
    width: 500px;
    padding: 10px;
    opacity: 95%;
    box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    font-family: 'Rokkitt', serif;
}
.Cards-Row{
    margin-top: 10px;
    overflow-y: scroll;
    height: 693px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Rokkitt', serif;
    
}
::-webkit-scrollbar {
    display: none;
}
.No-Result{color: #519BFF;}
.fa-ban{
    color: #519BFF;
    font-size: 45px;
}
.fa-cloud-download-alt{
    color: #519BFF;
    font-size: 45px;
}
.Loading{
    color: #519BFF;
}

.Buscador-Boton{
    display: grid;
    grid-template-rows: 1fr 0.2fr;
}
.Boton-Container{
    text-align: center;
}
.Cambiar-Orientacion{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1f1f1f;
    border-color: #1c1c1c;
    color: #519BFF;
    font-size: medium;
    border-radius: 3%;
    box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    opacity: 80%;
    font-family: 'Rokkitt', serif;
}
.Agregar-Artistas-Container-Column{
    margin-bottom: 25px;
}
.Agregar-Artistas-Container-Row{
    height: 250px;
    width: 200px;
    text-align: center;
}
.Agregar-Artistas-Column{
    background-color: #1f1f1f;
    border-color: #1c1c1c;
    color: #519BFF;
    font-size: medium;
    border-radius: 3%;
    box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    opacity: 90%;
    padding: 8px;
    font-family: 'Rokkitt', serif;
    }
.Agregar-Artistas-Row{
    background-color: #1f1f1f;
    border-color: #1c1c1c;
    color: #519BFF;
    font-size: medium;
    border-radius: 3%;
    box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    opacity: 95%;
    padding: 8px;
    margin-top: 120px;
    font-family: 'Rokkitt', serif;
}